<html>
<head>
<style>
.help label {
	font-weight: bold;
}

.help div {
	margin-bottom: 5px;
}
</style>
</head>
<body>
	<h1> ${entityDefinition.displayName}</h1>

	<div class="help">
	<p>Description for ${entityDefinition.displayName}</p>
	
	<#list entityDefinition.sortedFields as field>
		<@handleField field=field/>
	</#list>

	<#list entityDefinition.partsDefinitions?values as entityPart>
		<@handlePart part=entityPart/>
	</#list>
	
	</div>
</body>
</html>
<#macro handleField field>
	<div>
		<#if field.partName??>
			<label>${field.displayName}:</label>
			<span>
				<a href="#${field.partName}">
					<#if field.helpText??>${field.helpText}<#else>Description for ${field.displayName}</#if>
				</a>
			</span>			
		<#else>
			<label>${field.displayName}:</label><span><#if field.helpText??>${field.helpText}<#else>Description for ${field.displayName}</#if></span>
		</#if>
	</div>	
</#macro>
<#macro handlePart part>
    <br>
	<hr>
	<div>
	<a id="${part.partName}"><h3> ${part.displayName}</h3></a>
	<#list part.fieldsDefinitions?values as field>
		<@handleField field=field/>
	</#list>
	<#list part.innerPartsDefinitions?values as innerPart>
		<@handlePart part=innerPart />
	</#list>
	<div>
</#macro>