package ${package};

import org.openlegacy.rpc.RpcSession;
import org.openlegacy.rpc.actions.RpcAction;
import org.openlegacy.rpc.actions.RpcActions;

public class ${serviceName}CleanupAction implements RpcAction {
		
		public void perform(RpcSession rpcSession, Object entity, Object... keys){
			rpcSession.doAction(RpcActions.UPDATE());
			// PLACE HOLDER for cleanup action
		}
}
