
/openlegacy/openlegacy-templates/openlegacy-mvc-sample/target
/openlegacy/openlegacy-templates/openlegacy-mvc-new/target
/openlegacy/openlegacy-templates/openlegacy-mvc-rpc-sample/target
/openlegacy/openlegacy-templates/openlegacy-mvc-rpc-new/target
/openlegacy/openlegacy-templates/openlegacy-rest-sample/target
/openlegacy/openlegacy-templates/openlegacy-rest-new/target
/openlegacy/openlegacy-templates/openlegacy-rest-rpc-sample/target
/openlegacy/openlegacy-templates/openlegacy-rest-rpc-new/target
/openlegacy-web-resources/target
/openlegacy-designtime/target
/openlegacy-ide-eclipse/target
/openlegacy-web/target
/openlegacy-api/target
/openlegacy-impl/target
/openlegacy-ide-eclipse-updatesite/plugins
/openlegacy-ide-eclipse-updatesite/features
/openlegacy-ide-eclipse-updatesite/artifacts.jar
/openlegacy-ide-eclipse-updatesite/content.jar
