<div class="container-fluid">
    <div class="row text-center logo">
        <img src="img/logo.png">
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-md-2 no-gutters-sm"><!--      sidebar       -->
            <div ng-include="'partials/sidebar.html'"></div>
        </div> <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->
            <ol class="breadcrumb">
            	<li><a href="#/MainMenu">Main Menu</a></li>
            	<li class="active">Inventory Menu</li>                
            </ol>
			Select a page from the side menu
		</div>
	</div>
</div>