<div class="container-fluid">
    <div class="row text-center logo">
        <img src="img/logo.png">
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-md-2 no-gutters-sm"><!--      sidebar       -->
            <div ng-include="'partials/sidebar.html'"></div>
        </div> <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->
            <ol class="breadcrumb hidden-xs">
                <li><a href="#/mainMenu">Main Menu</a></li>
                <li><a href="#/inventoryMenu">Inventory Menu</a></li>
                 <li><a href="#/itemList">Items</a></li>
                <li class="active">Item Details</li>
            </ol>
            
            
            <div class="panel panel-default">
                <div class="panel-body">
                	<!-- tabs -->
                	<ul class="nav nav-tabs">
                		<li class="active"><a href="/#main-details" data-toggle="tab">Main Details</a></li>
                		<li><a href="/#stock" data-toggle="tab">Stock</a></li>
                		<li><a href="/#gallery" data-toggle="tab">Gallery</a></li>
                		<li><a href="/#sales" data-toggle="tab">Sales</a></li>
                	</ul>
                
                
                	<!--  tabs content -->
                	<div class="tab-content top-margin-10">
                		<div class="tab-pane active" id="main-details">
							<div ng-include="'partials/tabs/item-main-details.html'"></div>
						</div>
                		<div class="tab-pane" id="stock">
                			<div ng-include="'partials/tabs/item-stock.html'"></div>
                		</div>
                		<div class="tab-pane" id="gallery">
                			<div ng-include="'partials/tabs/item-gallery.html'"></div>
                		</div>
                		<div class="tab-pane" id="notes">
                			<div ng-include="'partials/tabs/item-notes.html'"></div>
                		</div>
                		<div class="tab-pane" id="sales">
                			<div ng-include="'partials/tabs/item-sales.html'"></div>
                		</div>
                	</div>
                	

                    
                    
                </div>
            </div><!-- /main panel -->
                
            <!-- screenshot -->
            <a  data-toggle="modal" data-target=".ol-screenshot" class="clickable">Show screenshot</a>

            <div class="modal fade ol-screenshot" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <img src="/openlegacy-rest-sample/sessionViewer/image" class="img-thumbnail">
                    </div>
                </div>
            </div>                       					
            <div class="top-margin-50"></div>
            
        </div><!--      /main  col      -->
        
    </div><!--/row -->
    
</div><!--/container -->
