<div class="container-fluid">
    <div class="row text-center logo">
        <img src="img/logo.png">
    </div>
    <div class="row">
        
        <!--      sidebar       -->
		
		<div class="col-sm-3 col-md-2 no-gutters-sm">
			<div class="sidebar-nav">
			    <div class="navbar" role="navigation">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ol-sidebar-collapse">
			                <span class="glyphicon glyphicon-chevron-down"></span>
			            </button>
			            <span class="visible-xs navbar-brand">Navigation</span>
			        </div>
			        <div class="navbar-collapse collapse ol-sidebar-collapse">
			            <ul class="nav navbar-nav nav-pills nav-stacked top-margin-10">			            
			            	<li ng-repeat="menu in menuArray">			            				            	
			            		<h4 ng-if="menu.menuItems.length != 0">{{menu.displayName}}</h4>
			            		<a ng-if="menu.menuItems.length == 0" ng-href="#/{{menu.targetEntityName}}">{{menu.displayName}}</a>			            		
			            	</li>			                	                
			            </ul>
			        </div><!--/.nav-collapse -->
			    </div>
			</div>    
		</div>
		
		 <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->            
            <ol class="breadcrumb">
				<li ng-repeat="bc in breadcrumbs" ng-class="{active : $last}" >
					<a ng-show="!$last" data-ng-href="#/{{bc.entityName}}">{{bc.displayName}}</a>
					<span ng-show="$last">{{bc.displayName}}</span>
				</li>
			</ol>
            
            <h1>Warehouses</h1>            
            
            <div class="panel panel-default">
                <div class="panel-body">

                    <nav class="navbar navbar-default" role="navigation">
                        <form class="navbar-form xnavbar-left" role="navigation">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="doAction('')" >
                                <span class="glyphicon glyphicon-share-alt"></span>
                                 Submit
                            </button>
                            
                            <span ng-repeat="action in entity.actions">
                            	<span ng-switch="action.alias">
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="help" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-question-sign"></span>
		                            	{{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="exit" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-log-out"></span>
		                            	{{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="create" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-pencil"></span>
		                            	{{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="cancel" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-remove-circle"></span>
		                            	{{action.displayName}}
                            		</button>
                            	</span>
                            </span>
                            <a href="{{exportExcelUrl}}" class="btn btn-primary navbar-btn pull-right" >
                    			<span class="glyphicon glyphicon-export"></span>
                                 Excel
							</a>

                        </form>
                    </nav>
                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                	<th>Actions</th>
                                    <th>Serial Number</th>
                                    <th>Warehouse Description</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            	<tr ng-repeat="warehouse in entity.warehousesRecords" >
                            		<td>
                                        <a href="#/WarehouseDetails/{{warehouse.whse}}"><span class="label label-primary"><span class="glyphicon glyphicon-repeat"></span></span></a>
                                        <a href="#/WarehouseDetails/{{warehouse.whse}}"><span class="label label-danger"><span class="glyphicon glyphicon-remove-sign"></span></span></a>
                                        <a href="#/WarehouseDetails/{{warehouse.whse}}"><span class="label label-success"><span class="glyphicon glyphicon-share-alt"></span></span></a>
                                    </td>                                                                		
                                    <td>{{warehouse.whse}}</td>
                                    <td><a href="#/WarehouseDetails/{{warehouse.whse}}">{{warehouse.description}}</a></td>
                            	</tr>                            
                            </tbody>
                        </table>
                    </div><!-- /table responsive -->

                    
                    <div class="top-margin-50">
                        <button type="button" class="btn btn-default navbar-btn pull-right" ng-click="doAction('next')">
                            Next
                            <span class="glyphicon glyphicon-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default navbar-btn pull-left" ng-click="doAction('previous')">
                            <span class="glyphicon glyphicon-backward"></span>
                            Prev
                        </button>
                    </div>
                </div>
            </div><!-- /main panel -->
                
            <!-- screenshot -->
            <a href="#" data-toggle="modal" data-target=".ol-screenshot">Show screenshot</a>

            <div class="modal fade ol-screenshot" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <img src="/openlegacy-rest-sample/sessionViewer/image" class="img-thumbnail">
                    </div>
                </div>
            </div>                       					
            <div class="top-margin-50"></div>
            
        </div><!--      /main  col      -->
        
    </div><!--/row -->
    
</div><!--/container -->
