#logo_header a {
	background-image: url(../images/logo.png);
	width: 387px;
}

.night #logo h1 a, .cloud #logo h1 a {
	background-image: url(../images/logo_large.png);

}

.demo_session{
	position: absolute;
	top: 500px;
}

.view_source{
	position: absolute;
	top: 400px;
	font-family: Helvetica, sans-serif;
	font-size: 1.25em;
}
.view_source ul li{
	margin-bottom: 15px;
}