<input name="file" multiple="true" type="file" label="Select File" id="uploader" onchange="angular.element(this).scope().uploadStockItemImage(this.files)" accept="image/*"/>

<div class="modal_images"> 
	<div id="domino1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino1.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
	<div id="domino2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino2.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
	<div id="domino3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino3.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
	<div id="domino4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino4.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
	<div id="domino5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino5.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
	<div id="domino6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center transparant">
				<img src="img/img2000/domino6.jpg" class="img-thumbnail">
			</div>
		</div>
	</div>                       					
</div>


<div class="row">
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino1" class="clickable">
			<img src="img/img2000/domino1.jpg" class="img-thumbnail">
		</a>
	</div>
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino2" class="clickable">	
			<img src="img/img2000/domino2.jpg" class="img-thumbnail">
		</a>
	</div>
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino3" class="clickable">
			<img src="img/img2000/domino3.jpg" class="img-thumbnail">
		</a>
	</div>
</div>
<div class="row top-margin-50 images">
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino4" class="clickable">
			<img src="img/img2000/domino4.jpg" class="img-thumbnail">
		</a>
	</div>
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino5" class="clickable">
			<img src="img/img2000/domino5.jpg" class="img-thumbnail">
		</a>
	</div>
	<div class="col-sm-4">
		<a  data-toggle="modal" data-target="#domino6" class="clickable">
			<img src="img/img2000/domino6.jpg" class="img-thumbnail">
		</a>
	</div>	
</div>


