                    <nav class="navbar navbar-default hidden-xs top-margin-10" role="navigation">
                        <form class="navbar-form xnavbar-left" role="navigation">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="postAction('')">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                 Submit
                            </button>
                            
                            <span ng-repeat="action in actions">                            
	                            <span ng-switch="action.alias">	                            	
	                                <button type="button" class="btn btn-primary navbar-btn" ng-switch-when="help" ng-click="postAction(action.alias)">
			                            <span class="glyphicon glyphicon-question-sign"></span>
			                            {{action.displayName}}
		                            </button>
	                                 <button type="button" class="btn btn-primary navbar-btn" ng-switch-when="delete" ng-click="postAction(action.alias)">
				                            <span class="glyphicon glyphicon-trash"></span>
				                            {{action.displayName}}
			                          </button>
	                             </span>                            
                             </span> 
                            
                           <!--  <button type="button" class="btn btn-primary navbar-btn">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                 Help
                            </button>
                           <button type="button" class="btn btn-primary navbar-btn">
                                <span class="glyphicon glyphicon-trash"></span>
                                 Delete
                            </button>              -->               
                        </form>
                    </nav>                
                
                	<h1>Stock Details</h1>
                
					<form role="form">
						<div class="row">
																			
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">N/L Cost of Sales Account:</label>
									<input type="text" class="form-control" placeholder="Enter Cost of Sales Account">
								</div>
								<div class="form-group">
									<label class="control-label">N/L Sales Account:</label>
									<input type="text" class="form-control" placeholder="Enter Sales Account">
								</div>								
								<div class="form-group">
									<label class="control-label">N/L Stock Account:</label>
									<input type="text" class="form-control" placeholder="Enter Stock Account">
								</div>								
								<div class="form-group">
									<label class="control-label">Field2:</label>
									<input type="text" class="form-control" placeholder="Enter Field2">
								</div>								
								<div class="form-group">
									<label class="control-label">Field1:</label>
									<input type="text" class="form-control" placeholder="Enter Field1">
								</div>								
								<div class="form-group">
									<label class="control-label">Field:</label>
									<input type="text" class="form-control" placeholder="Enter Field">
								</div>								
								<div class="form-group">
									<label class="control-label">Item Type business area:</label>
									<input type="text" class="form-control" placeholder="Enter Item Type business area">
								</div>								
								<div class="form-group">
									<label class="control-label">Stock Analysis Code:</label>
									<input type="text" class="form-control" placeholder="Enter Stock Analysis Code">
								</div>								
								<div class="form-group">
									<label class="control-label">Stock Value Group:</label>
									<input type="text" class="form-control" placeholder="Enter Stock Value Group">
								</div>								
								<div class="form-group">
									<label class="control-label">List Price:</label>
									<input type="text" class="form-control touchspin" placeholder="Enter List Price">
								</div>								
								<div class="form-group">
									<label class="control-label">Standard unit cost:</label>
									<input type="text" class="form-control touchspin" placeholder="Enter Standard unit cost">
								</div>								
							</div>		
						</div>	<!-- /row -->
					</form>