                    <nav class="navbar navbar-default top-margin-10" role="navigation">
                        <form class="navbar-form xnavbar-left" role="navigation">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="doAction('')">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                 Submit
                            </button>
                            
                            <span ng-repeat="action in entity.actions">
                            	<span ng-switch="action.alias">
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="help" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-question-sign"></span>
		                                {{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="prompt" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-comment"></span>
	                                	{{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="cancel" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-remove-circle"></span>
	                                 	{{action.displayName}}
                            		</button>
                            		<button type="button" class="btn btn-primary navbar-btn" ng-switch-when="delete" ng-click="doAction(action.alias)">
	                            		<span class="glyphicon glyphicon-trash"></span>
	                                 	{{action.displayName}}
                            		</button>                            	
                            	</span>
                            </span>
                        </form>
                    </nav>                
                <div class="panel-group">
                	<div class="panel panel-default">
	                	<div class="panel-heading" data-toggle="collapse" data-target="#itemDetails">
	                		<h4 class="panel-title">
	                			Item Details
					    	</h4>
				    	</div>                	
	                	<div id="itemDetails" class="panel-collapse collapse in">
		                	<div class="panel-body">
		                		<div class="col-sm-6">
									<img src="img/{{entity.itemNumber}}.jpg" class="img-thumbnail"></img>
								</div>	
														
								<div class="col-sm-6">
									<div class="form-group">
										<label for="alphaSearch" class="control-label">Alpha Search:</label>
										<input type="text" class="form-control" id="alphaSearch" placeholder="Alpha Search" ng-model="entity.alphaSearch">
									</div>
									<div class="form-group">
										<label for="itemNumber" class="control-label">Item Number:</label>
										<input type="text" class="form-control" id="itemNumber" placeholder="Item No" ng-model="entity.itemNumber">
									</div>
									<div class="form-group">
										<label for="itemDescription" class="control-label">Item Description:</label>
										<input type="text" class="form-control" id="itemDescription" placeholder="Item Description" ng-model="entity.itemDescription">
									</div>	
									
									<div class="form-group">
										<label for="SupercedingItemFrom" class="control-label">Superceding Item From:</label>
										<input type="text" class="form-control" id="SupercedingItemFrom" placeholder="Superceding Item From" ng-model="entity.supercedingItemfrom">
									</div>
									<div class="form-group">
										<label for="supercedingItemTo" class="control-label">Superceding Item To:</label>
										<input type="text" class="form-control" id="supercedingItemTo" placeholder="Superceding Item To" ng-model="entity.supercedingItemto">
									</div>
									<div class="form-group">
										<label for="stockGroup" class="control-label">Stock Group:</label>
										<input type="text" class="form-control" id=""stockGroup"" placeholder="Stock Group" ng-model="entity.stockGroup">
									</div>
									<div class="form-group">
										<label for="itemWeight" class="control-label">item Weight:</label>
										<input type="text" class="form-control touchspin" id="itemWeight" placeholder="item Weight" ng-model="entity.itemWeight">
									</div>								
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
	                	<div class="panel-heading" data-toggle="collapse" data-target="#shippingData">
	                		<h4 class="panel-title">
	                			Shipping Data
					    	</h4>
				    	</div>                	
	                	<div id="shippingData" class="panel-collapse collapse in">
		                	<div class="panel-body">
		                		<div class="table-responsive">
								    <table class="table table-hover">
								        <thead>
								            <tr>
								                <th>Name</th>
								                <th>Address</th>
								                <th>Phone</th>
								                <th>Date</th>
								            </tr>
								        </thead>
								        <tbody>
								    	   	<tr ng-repeat="shipping in shippingList" >
								            	<td>{{shipping.name}}</td>
								            	<td>{{shipping.address}}</td>
								            	<td>{{shipping.phone}}</td>
												<td>{{shipping.date}}</td>								         	
								         	</tr>                            
								         </tbody>
									</table>
								</div>
		                	</div>
	                	</div>
                	</div>
                	<div class="panel panel-default">
	                	<div class="panel-heading" data-toggle="collapse" data-target="#advanced">
	                		<h4 class="panel-title">
	                			Advanced
					    	</h4>
				    	</div>                	
	                	<div id="advanced" class="panel-collapse collapse in">
		                	<div class="panel-body">		                		
								<div class="form-group">
									<label class="control-label">Video URL:</label>
									<div class="input-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-globe"></span>
										</span>
										<input type="text" class="form-control" placeholder="Video URL">
									</div>
								</div>
								
								<div class="form-group">
									<label for="manufacturersItemNo" class="control-label">Manufacturers Item No:</label>
									<input type="text" class="form-control" id="manufacturersItemNo" placeholder="Enter Manufacturers Item No">
								</div>								
								
								<div class="checkbox">
									<label>
										<input type="checkbox"> Pallet label required
									</label>
								</div>
		                	</div>
	                	</div>
                	</div>
                	<div class="panel panel-default">
	                	<div class="panel-heading" data-toggle="collapse" data-target="#fullDescription">
	                		<h4 class="panel-title">
	                			Full Description
					    	</h4>
				    	</div>                	
	                	<div id="fullDescription" class="panel-collapse collapse in">
		                	<div class="panel-body">
		                		<textarea class="editor textarea form-control" rows=7 placeholder="Enter Description"></textarea>
		                	</div>
	                	</div>
                	</div>
				</div>