<div class="container-fluid" ng-controller="menuCtrl">    
    <div class="row">
        
  		<!--      sidebar       -->
		
		<div class="col-sm-3 col-md-2 no-gutters-sm">
			<div class="sidebar-nav">
			    <div class="navbar" role="navigation">
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ol-sidebar-collapse">
			                <span class="glyphicon glyphicon-chevron-down"></span>
			            </button>
			            <span class="visible-xs navbar-brand">Navigation</span>
			        </div>
			        <div class="navbar-collapse collapse ol-sidebar-collapse">
			            <ul class="nav navbar-nav nav-pills nav-stacked top-margin-10">			            
			            	<li ng-repeat="menu in menuArray">			            				            	
			            		<h4 ng-show="menu.menuItems.length != 0">{{menu.displayName}}</h4>
			            		<a ng-show="menu.menuItems.length == 0" ng-href="#/{{menu.targetEntityName}}">{{menu.displayName}}</a>			            		
			            	</li>			                	                
			            </ul>
			        </div><!--/.nav-collapse -->
			    </div>
			</div>    
		</div>
		
		 <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->
            <ol class="breadcrumb hidden-xs">            	
            	<li class="active" ng-if="menuArray.length != 0">{{menuArray[0].displayName}}</li>                
            </ol>
			Select a page from the side menu
		</div>
	</div>
</div>