<h4>Item Details</h4>
<div class="row">
	<div class="span8">
		<form class="form-horizontal" accept-charset="utf-8">
			<div class="control-group">
				<label for="zip" class="control-label">Item Weight:</label>
				<div class="controls">
					<input name="itemWeight" type="text" id="itemWeight" ng-model="model.itemWeight">
				</div>
			</div>
			<div class="control-group">
				<label for="zip" class="control-label">Item details From:</label>
				<div class="controls">
					<input name="supercedingItemfrom" type="text" id="supercedingItemfrom" ng-model="model.supercedingItemfrom">
				</div>
			</div>
			<div class="btn-toolbar">
				<button data-ng-click="save()" class="btn btn-small btn-primary">Save</button>
			</div>
		</form>
	</div>
</div>