<div class="container-fluid">
    <div class="row text-center logo">
        <img src="img/logo.png">
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-md-2 no-gutters-sm"><!--      sidebar       -->
            <div ng-include="'views/sidebar.html'"></div>
        </div> <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->
            <ol class="breadcrumb hidden-xs">
                <li><a href="#/mainMenu">Main Menu</a></li>
                <li><a href="#/inventoryMenu">Inventory Menu</a></li>
                 <li><a href="#/stockItem">StockItem</a></li>
                <li class="active">Item Details</li>
            </ol>
	      	<div class="panel panel-default">
	        	<div class="panel-body">
			   		<nav class="navbar navbar-default hidden-xs top-margin-10" role="navigation">
			   			<form class="navbar-form xnavbar-left" role="navigation">
		   					<button type="button" class="btn btn-primary navbar-btn" ng-click="postAction('')">	                            		
                           		Submit
                       		</button> 
			            	<span ng-repeat="action in actions">				            	                            	                            		
			                	<button type="button" class="btn btn-primary navbar-btn" ng-click="postAction(action.alias)">	                            		
			                    	{{action.displayName}}
		                  		</button>
							</span>	
						</form>
					</nav>                
		              
					<h1>Item Details</h1>
		              
					<form role="form">
						<div class="row">							
							<div class="col-sm-6">								
								<div class="form-group">
									<label for="itemNumber" class="control-label">Item Number:</label>
									<input type="text" class="form-control" id="itemNumber" placeholder="Item No" ng-model="itemDetails.itemId">
								</div>
								<div class="form-group">
									<label for="itemDescription" class="control-label">Item Description:</label>
									<input type="text" class="form-control" id="itemDescription" placeholder="Item Description" ng-model="itemDetails.description">
								</div>
								<div class="form-group">
									<label for="videoUrl" class="control-label">Item Description:</label>
									<input type="text" class="form-control" id="videoUrl" placeholder="Video Url" ng-model="itemDetails.videoUrl">
								</div>																						
							</div>		
						</div>	<!-- /row -->
					</form>
					
					<h1 ng-show="itemDetails.notes">Item Notes</h1>
					<form role="form" ng-repeat="note in itemDetails.notes">
						<div class="row">							
							<div class="col-sm-6">								
								<div class="form-group">
									<label for="itemNumber" class="control-label">Item Number:</label>
									<input type="text" class="form-control" id="itemNumber" placeholder="Item No" ng-model="note.noteId">
								</div>
								<div class="form-group">
									<label for="itemDescription" class="control-label">Item Description:</label>
									<input type="text" class="form-control" id="itemDescription" placeholder="Item Description" ng-model="note.text">
								</div>											
							</div>		
						</div>	<!-- /row -->
					</form>					
				</div>
			</div> 					
    	    <div class="top-margin-50"></div>
            
        </div><!--      /main  col      -->
        
    </div><!--/row -->
    
</div><!--/container -->
