<div class="container-fluid">
    <div class="row text-center logo">
        <img src="img/logo.png">
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-md-2 no-gutters-sm"><!--      sidebar       -->
            <div ng-include="'views/sidebar.html'"></div>
        </div> <!--/sidebar -->
        
        <div class="col-sm-9 col-md-10"><!--      main       -->
            <ol class="breadcrumb hidden-xs">
                <li><a href="#/mainMenu">Main Menu</a></li>
                <li><a href="#/inventoryMenu">Inventory Menu</a></li>                
                <li class="active">Product tree</li>
            </ol>
	      	<div class="panel panel-default panel-tree">
	        	<div class="panel-body">
		        	<table class="tree-table">
		        		<tbody>
		        			<tr>
		        				<td>
		        					<!-- Nested node template -->
									<script type="text/ng-template" id="nodes_renderer.html">
  										<!--<div ui-tree-handle>-->
										<a href data-nodrag="" ng-click="toggle(this)" ng-show="node.items">								
				   							<span class="glyphicon" ng-class="{'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span>
				   						</a>
    									<span ng-click="nodeClick($event)" style="cursor:pointer;cursor:hand;">{{node.title}}</span>										
  										<!--</div>-->
  										<ol ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: collapsed}">
    										<li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true"></li>
  										</ol>
									</script>
									<div ui-tree data-drag-enabled="false" style="display: inline-block">
									  <ol ui-tree-nodes="" ng-model="list" ng-class="{hidden: collapsed}">
									    <li ng-repeat="node in list" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true"></li>
									  </ol>
									</div>
		        				</td>
		        				<td>
		        					<div class="panel panel-default"  ng-show="nodeName">
									  <div class="panel-heading">Uploaded files for "{{nodeName}}"</div>
									  <div class="panel-body">
									  	<div ng-show="filesList.length == 0">No files.</div>
									  	<div ng-repeat="file in filesList">
									  		<a ng-href="{{baseUrl}}downloadFile?nodeName={{nodeName}}&fileName={{file}}">
												{{file}}												
											</a>									  		
									  	</div>				    					
									  </div>
									  <div class="panel-footer">
									    <div class="progress">
										  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progressValue}}%;">
										    {{progressValue}}%
										  </div>
										</div>
										<input type="file" nv-file-select uploader="uploader"/><br/>
									  </div>
									</div>
								</td>
		        			</tr>
		        		</tbody>
		        	</table>
				</div>
			</div> 					
    	    <div class="top-margin-50"></div>            
        </div><!--      /main  col      -->        
    </div><!--/row -->    
</div><!--/container -->
