<div class="sidebar-nav">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ol-sidebar-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <span class="visible-xs navbar-brand">Navigation</span>
        </div>
        <div class="navbar-collapse collapse ol-sidebar-collapse">
            <ul class="nav navbar-nav nav-pills nav-stacked   top-margin-10">
                <li><h4>Inventory Menu</h4></li>
                <li><a href="#/stockItem">StockItem</a></li>
                <!-- 
                <li><h4>Tools</h4></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">View Session</a></li>
                <li><a href="#">Download Trail</a></li>
                <li><a href="#">HTML Emulation</a></li>
                <li><h4>Demo Stuff</h4></li>
                <li><a data-toggle="modal" data-target=".ol-view-file" class="clickable">View Model</a></li>
                <li><a href="#">View Page</a></li>
                <li><a href="#">View Controller</a></li>
                <li><a href="#">View API Test</a></li>
                <li><a href="/openlegacy-rest-sample/emulation">Emulation</a></li>
                 -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>                    


          

<div class="modal fade ol-view-file" tabindex="-1" role="dialog" aria-labelledby="screenshotModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<code>
				here a file should be displayed
			</code>
		</div>
	</div>
</div>                       	