<div class="sidebar-nav">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ol-sidebar-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <span class="visible-xs navbar-brand">Navigation</span>
        </div>
        <div class="navbar-collapse collapse ol-sidebar-collapse">
            <ul class="nav nav-pills nav-stacked top-margin-10">			            
            	<li ng-repeat="menu in menuArray" ui-sref-active="active">			            				            	
            		<h4 ng-if="menu.menuItems.length != 0">{{menu.displayName}}</h4>
            		<a ng-if="menu.menuItems.length == 0" ui-sref="{{menu.targetEntityName}}">{{menu.displayName}}</a>			            		
            	</li>
            	<li><h4>Tools</h4></li>
            	<li><a data-toggle="modal" href data-target=".ol-screenshot" class="clickable" ng-click="sessionView()">Show session</a></li>			                	                
            	<li><a ng-href="#/emulation">HTML Emulation</a></li>
            	<li><a href ng-click="reload()">Reload</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>    
