html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/login_bg_tile.png);
	background-repeat: repeat;
	height: 100%;
}
#wrap {
	width: 100%;
	min-height: 100%;
	background-image: url(../images/login_bg_glow.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#wrap_in {
	float: left;
	width: 100%;
	overflow:auto;
	padding-bottom: 86px;
}
#login_content {
	min-width: 660px;
	width: 50%;
	margin: 0 auto;
	padding: 0px;
}
#logo {
	width: 100%;
	float: left;
	padding-top: 125px;
}
#logo h1 {
	font-size: .1em;
	margin: 0px;
	padding: 0px;
}
#logo h1 a {
	float: left;
	height: 99px;
	width: 100%;
	background-image: url(../images/logo_large.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-decoration: none;
	text-indent: -9999px;
	display: block;
}
#loginform {
	width: 100%;
	float: left;
	padding-top: 35px;
	padding-bottom: 40px;
}
#loginform form {
	width: 100%;
	float: left;
	margin: 0px;
	font-size: .85em;
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #e2e2e2 0px 4px 7px;
	-moz-box-shadow: #e2e2e2 0px 4px 7px;
	box-shadow: #e2e2e2 0px 4px 7px;
	background: #fff;
	padding-top: 55px;
	padding-right: 0px;
	padding-bottom: 55px;
	padding-left: 0px;
}
#loginform form .row {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
#loginform form .row .rl {
	width: 29%;
	float: left;
	text-align: right;
	padding-top: 5px;
}
#loginform form .row .rl label {
	color: #666666;
}
#loginform form .row .rr {
	float: right;
	width: 68%;
}
#loginform form .row .rr input[type=text], #loginform form .row .rr input[type=password] {
	font-size: .85em;
	border: 1px solid #cacaca;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px;
	background-color: #fff;
	background-image: url(../images/inputbg_login.png);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
}
#loginform form .row .rr input[type=text]:focus, #loginform form .row .rr input[type=password]:focus {
	border: 1px solid #aaa;
}
#loginform form .row .rr input[type=submit] {
	font-size: 1.2em;
	border: 1px solid #4c7d12;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #e2e2e2 0px 4px 5px;
	-moz-box-shadow: #e2e2e2 0px 4px 5px;
	box-shadow: #e2e2e2 0px 4px 5px;
	background: #64a30a;
	padding: 5px 15px 5px 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#loginform form .row .rr input[type=submit]:hover {
	background: #7abd1b;
}
#loginform form .row .rr input[type=submit]:focus {
	background: #5a9408;
}
#footerw {
	position: relative;
	margin-top: -86px; /* negative value of footer height */
	height: 70px;
	clear: both;
	float: left;
	width: 100%;
	font-size: .75em;
	background-image: url(../images/footer_bg_tile.png);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 16px;
} 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
#footer {
	position: relative;
	margin-top: -86px; /* negative value of footer height */
	height: 70px;
	clear: both;
	float: left;
	width: 100%;
	font-size: .75em;
	background-image: url(../images/footer_bg_tile.png);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 16px;
}
#footer #footer_left {
	float: left;
	padding-left: 15px;
}
a img {
	border: none;
}
#footer #footer_right {
	float: right;
	text-align: right;
	padding-right: 15px;
	color: #7c7c7c;
	line-height: 1.5em;
	text-shadow: #eee 0px 1px 0px;
	padding-top: 5px;
}
