.dijitAccordionTitle .dijitAccordionTitleFocus {
	text-decoration: none;
	background-image: url(../images/lp_item.png);
	color: #fff;
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-shadow: #35538a 0px -1px 0px;
}
.dijitAccordionInnerContainer {
	height: auto !important;
}
.dijitAccordionContainer {
	border: none;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitleFocus {
	background-image: url(../images/lp_item_on.png) !important;
}
.dijitAccordionTitle {
	background-image: url(../images/lp_item.png) !important;
}
.dijitTitlePaneTitle {
	cursor: pointer;
	float: left;
	width: 97%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-top: 9px;
	padding-bottom: 9px;
	text-shadow: #fff 0px 1px 0px;
	color: #333;
	font-weight: bold;
	background-color: transparent;
	background-image: none;
	border: none !important;
}
.tundra .dijitTitlePaneTitle {
	background: url(images/titleBar.png) repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:0px;
	width: 97%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-top: 9px;
	padding-bottom: 9px;
}
.dijitAccordionContainer-child {
	height: auto !important;
    border: none !important;
	padding: 0px;
}
.dijitTextBox {
	font-size: 12px;
	border: 1px solid #90a9c1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0px;
	background-color: #fff;
	background-image: url(../images/editbox_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
}
.dijitInputInner {
	padding-left: 6px !important;
}
.dijitTextBox .dijitSpinnerButtonContainer {
	width: 17px;
}
.tundra .dijitSpinner .dijitSpinnerButtonInner {
	width: 17px !important;
}
.tundra .dijitSpinner .dijitArrowButton {
	width: 17px;
}
.dijitButtonNode {
	border:1px solid #90a9c1;
}
.dijitTextBox input.dijitInputField {
	border: none;
}
.tundra .dijitAccordionTitle {
	background-image: url(../images/lp_item.png) !important;
	border: none;
	padding: 0px;
}
.tundra .dijitTabContainerTop-dijitContentPane,
.tundra .dijitTabContainerLeft-dijitContentPane,
.tundra .dijitTabContainerBottom-dijitContentPane,
.tundra .dijitTabContainerRight-dijitContentPane,
.tundra .dijitAccordionContainer-dijitContentPane {
	padding: 0px !important;
	margin: 0px !important;
}
.tundra .dijitTitlePaneContentInner {
	padding:0px;
}
.tundra .dijitTitlePaneContentOuter {
	border: none;
	border-top: 0;
}
.tundra .dijitTextBox {
	border:1px solid #90a9c1;
}
.tundra .dijitArrowButtonInner {
	background: url(../themes/tundra/images/spriteArrows.png) no-repeat scroll 0 center;
	margin: 0 4px 0 5px;
}
.tundra .dijitSelectActive .dijitButtonNode,
.tundra .dijitSelectOpened .dijitButtonNode {
	border-color:#90a9c1 !important;
}
.tundra .dijitMenu,
.tundra .dijitMenuBar {
	border: 1px solid #90a9c1;
	background-color: #fff;
	-webkit-box-shadow: #ccc 0px 2px 4px;
	-moz-box-shadow: #ccc 0px 2px 4px;
	box-shadow: #ccc 0px 2px 4px;
}
.tundra .dijitMenuItem {
	font-size: .75em;
	color: #3c4955;
}
.tundra .dijitMenuItemHover {
	background: url(../images/dd_menu_bg_over.png) repeat-x left top;
}
.tundra .dijitMenuItemSelected {
	background-color: #333;
	color:#fff;
}
.tundra .dijitCalendarMonthContainer th {
	background:#ecf1f6 url(../images/calendar_p_hdr.png) repeat-x bottom left;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.tundra .dijitCalendarPopup {
	background-color: #fff;
	-webkit-box-shadow: #ccc 0px 2px 4px;
	-moz-box-shadow: #ccc 0px 2px 4px;
	box-shadow: #ccc 0px 2px 4px;
}
.tundra .dijitCalendarContainer {
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #90a9c1;
	margin: 0;
	font-size: .8em;
}
.tundra .dijitCalendarDayLabelTemplate {
	background:white url(../images/calendar_week_bg.png) repeat-x bottom left;
	font-weight:normal;
	padding-top:5px;
	padding-bottom:3px;
	border-top: 1px solid #90a9c1;
	color:#3c4955;
	text-align:center;
	text-shadow: #fff 0px 1px 0px;
	border-bottom: 1px solid #dae3ec;
}
.tundra .dijitCalendarDateTemplate {
	padding: 4px 2px !important;	
	border: 0px !important;
	color: #4884c8;
}
.tundra .dijitCalendarSelectedDate {
	background-color: #e1edfa !important;
	color: #234f81 !important;
}
.tundra .dijitCalendarPreviousMonth,
.tundra .dijitCalendarNextMonth {
	color: #a3acb5;
	background-color: #f6f9fb;
	font-weight: normal;
}
.tundra .dijitCalendarYearContainer {
	background:white url(../images/calendar_year_bg.png) repeat-x bottom left;
	border-top:1px solid #e9eef3;
	font-size: .9em;
}
.tundra .dijitCalendarSelectedYear {
	font-weight:bolder;
	color: #4b5969;
	padding: 5px 10px;
	border: none;
	background: #fdfdfe url(../images/calendar_year_bg_s.png) repeat-x bottom left !important;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
	text-align:center;
	font-size: .8em;
	font-weight: normal !important;
	padding: 1px 0px;
}
.tundra .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
	background: #fdfdfe url(../images/dd_menu_bg_over.png) repeat-x bottom left;
	color: #333;
}
.tundra .dijitCalendarCurrentMonthLabel {
	border: none !important;
}
.dijitDialogUnderlay {
	background: #000;
	opacity: 0.5;
}
.tundra .dijitDialog {
	background: #f2f2f2;
	border: none;
	padding: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: #555 0px 4px 6px;
	-moz-box-shadow: #555 0px 4px 6px;
	box-shadow: #555 0px 4px 6px;
}
.tundra .dijitDialogTitleBar {
	background: #fafafa url(../images/popup_hdr_bg.png) repeat-x bottom left;
	padding: 13px 15px;
	outline:0; 
	color: #333;
	
}
.tundra .dijitDialogPaneContent {
	background: #f2f2f2;
	border-top: 1px solid #587b9f;
	padding:10px;
}
.tundra .dijitDialogTitle {
	color: #333;
	padding: 0 4px;
	text-shadow: #fff 0px 1px 0px;
}
.tundra .dijitDialogCloseIcon {
	position: absolute;
	vertical-align: middle;
	right: 15px;
	top: 17px;
	height: 15px;
	width: 14px;
}
.tundra .dijitButton .dijitButtonNode {
	border: 1px solid #92b3d3;
	padding: 5px 12px 6px 12px;
	background: url(../themes/tundra/images/button_bg.png) repeat-x center left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #c4d7ea 0px 1px 2px;
	-moz-box-shadow: #c4d7ea 0px 1px 2px;
	box-shadow: #c4d7ea 0px 1px 2px;
	font-size: 14px;
}
.tundra .dijitButtonHover .dijitButtonNode,
.tundra .dijitButtonNodeHover,
.tundra .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitDropDownButtonHover .dijitButtonNode,
.tundra .dijitComboButton .dijitButtonContentsHover,
.tundra .dijitComboButton .dijitDownArrowButtonHover {
	border-color: #6c8eb0;
	background: url(../themes/tundra/images/button_bg_over.png) repeat-x center left;
}
.tundra .dijitUpArrowButtonActive,
.tundra .dijitDownArrowButtonActive,
.tundra .dijitButtonActive .dijitButtonNode,
.tundra .dijitToggleButtonActive .dijitButtonNode,
.tundra .dijitDropDownButtonActive .dijitButtonNode,
.tundra .dijitButtonContentsActive,
.tundra .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	border-color:#6c8eb0;
	background: url(../themes/tundra/images/button_bg_active.png) repeat-x center left;
}
.tundra .dijitTabContainerTop-tabs {
	margin-bottom: 0;
	border-color: #a4b9ce;
	padding-left: 0px;
	background-position: bottom;
	width: 100% !important;
}
.tundra .dijitTab {
	margin-right:0px;	
	padding: 0px 2px 0px 0px;
	border: none;
	background: url(../images/tabs_separator.png) no-repeat right bottom;
}
.tundra .dijitTab .dijitTabInnerDiv {
	padding:10px 15px 11px 15px;
	color: #627592;
	text-shadow: #fff 0px 1px 0px;
	background: url(../images/tabs_bg_link.png) repeat-x left bottom;
}
.tundra .dijitTabChecked {
	border: none;
}
.tundra .dijitTabChecked .dijitTabInnerDiv {
	color: #333;
	background: #f2f6fa;
}
.tundra .dijitTabHover {
	color: #333;
	border: none !important;
}
.tundra .dijitTabHover .dijitTabInnerDiv {
	color: #333;
	text-shadow: #fff 0px 1px 0px;
	background: url(../images/tabs_bg_over.png) repeat-x left bottom;
}
.tundra .dijitTabCheckedHover {
	background: url(../images/tabs_separator.png) no-repeat right bottom !important;
}
.tundra .dijitTabCheckedHover .dijitTabInnerDiv {
	background: #f2f6fa;
}
.tundra .dijitTabContainerTop-container {
	border-top: none;
	padding: 15px 1.5% !important;
	border: none;
	background-color: transparent;
	background-image: none !important;
	width: 97% !important;
}
.tundra .dijitTabContainerTop-dijitContentPane,
.tundra .dijitTabContainerLeft-dijitContentPane,
.tundra .dijitTabContainerBottom-dijitContentPane,
.tundra .dijitTabContainerRight-dijitContentPane,
.tundra .dijitAccordionContainer-dijitContentPane {
	background-color: transparent;
	padding: 0px !important;
	margin: 0px !important;
	width: 100% !important;
}
.tundra .dijitTabPaneWrapper {
	border: none;
	margin: 0px !important;
	padding: 15px 1.5% !important;
	background-color: transparent !important;
	background-image: none !important;
	width: 97%;
}