<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Open Legacy"
            id="org.openlegacy.ide.eclipse">
      </category>
      <wizard
            name="OpenLegacy Project"
            icon="icons/sample.gif"
            category="org.openlegacy.ide.eclipse"
            class="org.openlegacy.ide.eclipse.wizards.OpenLegacyeNewProjectWizard"
            project="true"
            id="org.openlegacy.ide.eclipse.wizards.OpenLegacyeNewProjectWizard">
            
      </wizard>
   </extension>

</plugin>
