<nav class="navbar navbar-default" role="navigation">
    <form class="navbar-form xnavbar-left" role="navigation">
    	<button data-ng-click="doAction('ItemReviseStock', '')" class="btn btn-primary navbar-btn">Submit</button>
			<!-- <button data-ng-show="isActionAvailable('help')" data-ng-click="doAction('ItemReviseStock', 'help')" class="btn btn-primary navbar-btn">Help</button> -->
			<!-- <button data-ng-show="isActionAvailable('cancel')" data-ng-click="doAction('ItemReviseStock', 'cancel')" class="btn btn-primary navbar-btn">Cancel</button> -->
			<!-- <button data-ng-show="isActionAvailable('prompt')" data-ng-click="doAction('ItemReviseStock', 'prompt')" class="btn btn-primary navbar-btn">Prompt</button>
			 --><button data-ng-show="isActionAvailable('return_')" data-ng-click="doAction('ItemReviseStock', 'return_')" class="btn btn-primary navbar-btn">Return</button>
			<!-- <button data-ng-show="isActionAvailable('delete')" data-ng-click="doAction('ItemReviseStock', 'delete')" class="btn btn-primary navbar-btn">Delete</button>
		<a ng-href="{{baseUrl}}ItemReviseStock{{'/excel'}}" class="btn btn-primary navbar-btn pull-right" ng-show="false">
		<span class="glyphicon glyphicon-export"></span>	        	
           	Excel
           </a>             -->
    </form>
</nav>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse"
		data-target="#itemrevisestockpart1">
		<h4 class="panel-title"></h4>
	</div>
	<div id="itemrevisestockpart1" class="panel-collapse collapse in">
		<div class="panel-body">

			<form role="form" class="form-horizontal">
				<div class="form-group" ng-class="terminalColors('itemNumber')">
					<label for="itemReviseStock_itemNumber" class="control-label col-sm-2">Item
						Number:</label>
					<div class="col-sm-6">
						<span id="itemReviseStock_itemNumber" ng-model="model.itemReviseStock.itemNumber">{{model.itemNumber}}</span>
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('itemDescription')">
					<label for="itemReviseStock_itemDescription" class="control-label col-sm-2">Item Description:</label>
					<div class="col-sm-6">
						<span id="itemReviseStock_itemDescription" ng-model="model.itemReviseStock.itemDescription">{{model.itemDescription}}</span>
					</div>
				</div>
				<div class="form-group"
					ng-class="terminalColors('nlCostOfSalesAccount')">
					<label for="nlCostOfSalesAccount" class="control-label col-sm-2">N/L
						Cost of Sales Account:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'nlCostOfSalesAccount')"
							data-ng-readonly="isReadOnly(model,'nlCostOfSalesAccount')"
							type="text" class="form-control child-terminal-colors"
							id="nlCostOfSalesAccount" ng-model="model.itemReviseStock.nlCostOfSalesAccount">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('nlSalesAccount')">
					<label for="nlSalesAccount" class="control-label col-sm-2">N/L
						Sales Account:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'nlSalesAccount')"
							data-ng-readonly="isReadOnly(model,'nlSalesAccount')" type="text"
							class="form-control child-terminal-colors" id="nlSalesAccount"
							ng-model="model.itemReviseStock.nlSalesAccount">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('nlStockAccount')">
					<label for="nlStockAccount" class="control-label col-sm-2">N/L
						Stock Account:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'nlStockAccount')"
							data-ng-readonly="isReadOnly(model,'nlStockAccount')" type="text"
							class="form-control child-terminal-colors" id="nlStockAccount"
							ng-model="model.itemReviseStock.nlStockAccount">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('field2')">
					<label for="field2" class="control-label col-sm-2">&nbsp;</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'field2')"
							data-ng-readonly="isReadOnly(model,'field2')" type="text"
							class="form-control child-terminal-colors" id="field2"
							ng-model="model.itemReviseStock.field2">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('field1')">
					<label for="field1" class="control-label col-sm-2">&nbsp;</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'field1')"
							data-ng-readonly="isReadOnly(model,'field1')" type="text"
							class="form-control child-terminal-colors" id="field1"
							ng-model="model.itemReviseStock.field1">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('field')">
					<label for="field" class="control-label col-sm-2">&nbsp;</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'field')"
							data-ng-readonly="isReadOnly(model,'field')" type="text"
							class="form-control child-terminal-colors" id="field"
							ng-model="model.itemReviseStock.field">
					</div>
				</div>
				<div class="form-group"
					ng-class="terminalColors('itemTypeBusinessArea')">
					<label for="itemTypeBusinessArea" class="control-label col-sm-2">Item
						Type business area:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'itemTypeBusinessArea')"
							data-ng-readonly="isReadOnly(model,'itemTypeBusinessArea')"
							type="text" class="form-control child-terminal-colors"
							id="itemTypeBusinessArea" ng-model="model.itemReviseStock.itemTypeBusinessArea">
					</div>
				</div>
				<div class="form-group"
					ng-class="terminalColors('stockAnalysisCode')">
					<label for="stockAnalysisCode" class="control-label col-sm-2">Stock
						Analysis Code:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'stockAnalysisCode')"
							data-ng-readonly="isReadOnly(model,'stockAnalysisCode')"
							type="text" class="form-control child-terminal-colors"
							id="stockAnalysisCode" ng-model="model.itemReviseStock.stockAnalysisCode">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('stockValueGroup')">
					<label for="stockValueGroup" class="control-label col-sm-2">Stock
						Value Group:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'stockValueGroup')"
							data-ng-readonly="isReadOnly(model,'stockValueGroup')"
							type="text" class="form-control child-terminal-colors"
							id="stockValueGroup" ng-model="model.itemReviseStock.stockValueGroup">
					</div>
				</div>
				<div class="form-group"
					ng-class="terminalColors('stockInventoryGroup')">
					<label for="stockInventoryGroup" class="control-label col-sm-2">Stock
						Inventory Group:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'stockInventoryGroup')"
							data-ng-readonly="isReadOnly(model,'stockInventoryGroup')"
							type="text" class="form-control child-terminal-colors"
							id="stockInventoryGroup" ng-model="model.itemReviseStock.stockInventoryGroup">
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('listPrice')">
					<label for="listPrice" class="control-label col-sm-2">List
						Price:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'listPrice')"
							data-ng-readonly="isReadOnly(model,'listPrice')" type="text"
							class="form-control child-terminal-colors" id="listPrice"
							ng-model="model.itemReviseStock.listPrice">
					</div>
				</div>
				<div class="form-group"
					ng-class="terminalColors('standardUnitCost')">
					<label for="standardUnitCost" class="control-label col-sm-2">Standard
						unit cost:</label>
					<div class="col-sm-6">
						<input data-ng-class="readOnlyCss(model,'standardUnitCost')"
							data-ng-readonly="isReadOnly(model,'standardUnitCost')"
							type="text" class="form-control child-terminal-colors"
							id="standardUnitCost" ng-model="model.itemReviseStock.standardUnitCost">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse"
		data-target="#itemrevisestockpart2">
		<h4 class="panel-title"></h4>
	</div>
	<div id="itemrevisestockpart2" class="panel-collapse collapse in">
		<div class="panel-body">

			<form role="form" class="form-horizontal">
				<div class="form-group" ng-class="terminalColors('createdDate')">
					<label for="createdDate" class="control-label col-sm-2">Created
						date:</label>
					<div class="col-sm-6">
						<span id="createdDate" ng-model="model.itemReviseStock.createdDate">{{model.createdDate}}</span>
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('createdBy')">
					<label for="createdBy" class="control-label col-sm-2">Created
						By:</label>
					<div class="col-sm-6">
						<span id="createdBy" ng-model="model.itemReviseStock.createdBy">{{model.createdBy}}</span>
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('amendedDate')">
					<label for="amendedDate" class="control-label col-sm-2">Amended
						date:</label>
					<div class="col-sm-6">
						<span id="amendedDate" ng-model="model.itemReviseStock.amendedDate">{{model.amendedDate}}</span>
					</div>
				</div>
				<div class="form-group" ng-class="terminalColors('amendedBy')">
					<label for="amendedBy" class="control-label col-sm-2">Amended
						By:</label>
					<div class="col-sm-6">
						<span id="amendedBy" ng-model="model.itemReviseStock.amendedBy">{{model.amendedBy}}</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



