<h1>Warehouses</h1>

<nav class="navbar navbar-default" role="navigation">
    <form class="navbar-form xnavbar-left" role="navigation">
    	<!-- <button data-ng-click="doAction('Warehouses', '')" class="btn btn-primary navbar-btn">Submit</button> -->
			<!-- <button data-ng-show="isActionAvailable('help')" data-ng-click="doAction('Warehouses', 'help')" class="btn btn-primary navbar-btn">Help</button>
			<button data-ng-show="isActionAvailable('exit')" data-ng-click="doAction('Warehouses', 'exit')" class="btn btn-primary navbar-btn">Exit</button> -->
			<button data-ng-show="isActionAvailable('create')" data-ng-click="doAction('Warehouses', 'create')" class="btn btn-primary navbar-btn">Create</button>
			<!-- <button data-ng-show="isActionAvailable('cancel')" data-ng-click="doAction('Warehouses', 'cancel')" class="btn btn-primary navbar-btn">Cancel</button> -->
		<a ng-href="{{baseUrl}}Warehouses{{'/excel'}}" class="btn btn-primary navbar-btn pull-right" ng-show="true">
		<span class="glyphicon glyphicon-export"></span>	        	
           	Excel
           </a>            
    </form>
</nav>
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse"
		data-target="#warehousespart1">
		<h4 class="panel-title"></h4>
	</div>
	<div id="warehousespart1" class="panel-collapse collapse in">
		<div class="panel-body">

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<!-- <th>Action</th> -->
							<th>Serial Number</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="warehousesRecord in model.warehousesRecords">
							<td ng-class="terminalColors('action_', warehousesRecord)">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
						        <ul id="warhouseActions" class="dropdown-menu" role="menu">
						          <li><a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='2';doActionNoTargetEntity('revise')">Revise</a></li>
						          <li><a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='4';doActionNoTargetEntity('delete')">Delete</a></li>
						          <li><a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='5';doActionNoTargetEntity('display')">Display</a></li>
						          <!-- <li> <a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='6';doActionNoTargetEntity('items')">Items</a></li>
						          <li><a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='7';doActionNoTargetEntity('locations')">Locations</a></li> -->
						        </ul>
								<!-- <a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='2';doActionNoTargetEntity('revise')">Revise</a> 
								<a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='4';doActionNoTargetEntity('delete')">Delete</a>
								<a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='5';doActionNoTargetEntity('display')">Display</a>
								<a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='6';doActionNoTargetEntity('items')">Items</a>
								<a href="" class="child-terminal-colors" ng-click="warehousesRecord.act='7';doActionNoTargetEntity('locations')">Locations</a> -->
							</td>

							<!-- <td ng-class="terminalColors('act', warehousesRecord)"><input
								data-ng-class="readOnlyCss(warehousesRecord,'act')"
								data-ng-readonly="isReadOnly(warehousesRecord,'act')"
								type="text" size="1" ng-model="warehousesRecord.act" /></td> -->
							<td ng-class="terminalColors('serialNumber', warehousesRecord)">
								{{warehousesRecord.serialNumber}}</td>
							<td ng-class="terminalColors('description', warehousesRecord)">
								{{warehousesRecord.description}}</td>
							<td>
								<button ng-click="setMapLocation('HaTaasiya St Tel Aviv-Yafo')" class="btn btn-link" type="button" data-toggle="modal" data-target="#myModal">
									<i class="glyphicon glyphicon-map-marker"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="top-margin-50">
				<button ng-click="doAction('Warehouses', 'next')" type="button"
					class="btn btn-default navbar-btn pull-right">
					Next <span class="glyphicon glyphicon-forward"></span>
				</button>
				<button ng-click="doAction('Warehouses', 'previous')" type="button"
					class="btn btn-default navbar-btn pull-left">
					<span class="glyphicon glyphicon-backward"></span> Prev
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel">Warehouse location</h4>
      </div>
      <div class="modal-body">
        <div id="map_canvas">
		    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
		    	<ui-gmap-marker coords="markers.coords" options="markers.options" events="markers.events" idkey="markers.id">
	        	</ui-gmap-marker>
		    </ui-gmap-google-map>
		</div>
      </div>
      <div class="modal-footer center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



