
.cloud .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.cloud .dijitSplitContainer-child,
.cloud .dijitBorderContainer-child {
	
	border: 1px #ccc solid;
}
.cloud .dijitBorderContainer-dijitTabContainerTop,
.cloud .dijitBorderContainer-dijitTabContainerBottom,
.cloud .dijitBorderContainer-dijitTabContainerLeft,
.cloud .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.cloud .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0;
}
.cloud .dijitSplitterH,
.cloud .dijitGutterH {
	background:#fcfcfc;
	border:0;
	height:5px;
}
.cloud .dijitSplitterH .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:1px;
	top:2px;
	width:19px;
}
.cloud .dijitSplitterV,
.cloud .dijitGutterV {
	background:#fcfcfc;
	border:0;
	width:5px;
}
.cloud .dijitSplitterV .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:19px;
	left:2px;
	width:1px;
}
.cloud .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
