
.cloud .dijitContentPane {
	padding: 0;
}
.cloud .dijitTabContainerTop-dijitContentPane,
.cloud .dijitTabContainerLeft-dijitContentPane,
.cloud .dijitTabContainerBottom-dijitContentPane,
.cloud .dijitTabContainerRight-dijitContentPane,
.cloud .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}
.cloud .dijitSplitContainer-dijitContentPane,
.cloud .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		
	padding: 5px;
}