.readonly {
	border: 0px;
}

.content-wrapper {
	display: block;
}

div .black,.black .child-terminal-colors {
	color: black;
}

div .blue,.blue .child-terminal-colors {
	color: blue;
}

div .green,.green .child-terminal-colors {
	color: green;
}

div .aqua,.aqua .child-terminal-colors {
	color: aqua;
}

div .red,.red .child-terminal-colors {
	color: red;
}

div .purple,.purple .child-terminal-colors {
	color: purple;
}

div .brown,.brown .child-terminal-colors {
	color: brown;
}

div .white,.white .child-terminal-colors {
	color: white;
}

div .gray,.gray .child-terminal-colors {
	color: gray;
}

div .light_blue,.light_blue .child-terminal-colors {
	color: lightblue;
}

,
div .light_green,.light_green .child-terminal-colors {
	color: lightgreen;
}

div .light_aqua,.light_aqua .child-terminal-colors {
	color: aqua;
}

div .light_red,.light_red .child-terminal-colors {
	color: red;
}

div .pink,.pink .child-terminal-colors {
	color: pink;
}

div .yellow,.yellow .child-terminal-colors {
	color: yellow;
}

div .light_white,.light_white .child-terminal-colors {
	color: white;
}

.back_black,.back_black .child-terminal-colors {
	background-color: black;
}

.back_blue,.back_blue .child-terminal-colors {
	background-color: blue;
}

.back_green,.back_green .child-terminal-colors {
	background-color: green;
}

.back_aqua,.back_aqua .child-terminal-colors {
	background-color: aqua;
}

.back_red,.back_red .child-terminal-colors {
	background-color: red;
}

.back_purple,.back_purple .child-terminal-colors {
	background-color: purple;
}

.back_brown,.back_brown .child-terminal-colors {
	background-color: brown;
}

.back_white,.back_white .child-terminal-colors {
	background-color: white;
}

.back_gray,.back_gray .child-terminal-colors {
	background-color: gray;
}

.back_light_blue,.back_light_blue .child-terminal-colors {
	background-color: lightblue;
}

,
.back_light_green,.back_light_green .child-terminal-colors {
	background-color: lightgreen;
}

.back_light_aqua,.back_light_aqua .child-terminal-colors {
	background-color: aqua;
}

.back_light_red,.back_light_red .child-terminal-colors {
	background-color: red;
}

.back_pink,.back_pink .child-terminal-colors {
	background-color: pink;
}

.back_yellow,.back_yellow .child-terminal-colors {
	background-color: yellow;
}

.back_light_white,.back_light_white .child-terminal-colors {
	background-color: white;
}

@media ( min-width : 605px) {
	#loginForm {
		position: absolute;
		left: 40%;
	}
	#sideBarDiv {
		width: 0%;
	}
}

@media ( max-width : 604px) {
	#loginForm {
		position: absolute;
	}
}