html {
  position: relative;
  min-height: 100%;
}

body{
    margin-top:50px;
}

.navbar ul li .glyphicon{
/*.navbar .glyphicon{*/
    font-size:18px;
    vertical-align:text-bottom; 
}


/*
 * logo row
 */
.logo{
    background-color:#333 ;
    padding:10px;
}
@media (max-width: 768px) {
    .logo img{
        width:60%;
    }
}

.ol-brand{
    font-weight:bold;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}



@media (max-width: 768px){
    .no-gutters-sm {
        padding:0px;
        margin:0px;
        background-color:#eee;
    }
}



/*
 * ender and fotter
 */
.ender {
    margin-top:100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 60px;
    padding: 20px 10px;
	color: #999;
	border-top: 1px solid #e5e5e5;
	background:none repeat scroll 0% 0% rgb(46, 58, 75);
}
@media (max-width: 768px){
    .footer {
        color: #999;
        xxtext-align: center;
        font-size:8px;
    }
    .footer img{
        width:20%;
    }
}




 



/*
 * Helper classes
 */

.top-margin-10{
    margin-top:10px;
}

.top-margin-50{
	margin-top:50px;
}

.clickable{
	cursor:pointer;
}

.transparant{
	background: rgba(0, 0, 0,.0);
	box-shadow:none;
	outline:none;
	border:none;
}

.preloader {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}

.panel-heading {
	height:40px;
	cursor: pointer;
}

.panel-heading:before {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
    margin-right:10px;
    vertical-align: center;        
}
.panel-heading.collapsed:before {
    content:"\e080";
}