.cloud .dijitMenu,
.cloud .dijitMenuBar {
	border: 1px solid #7eabcd;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}
.cloud .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ccc;
}
.cloud .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}
.cloud .dijitMenuItem {
	padding: 4px 5px;
}
.cloud .dijitMenuPreviousButton, .cloud .dijitMenuNextButton {
	font-style: italic;
}
.cloud .dijitMenuItem td {
	padding: 2px;
}
.cloud .dijitMenuPassive .dijitMenuItemHover,
.cloud .dijitMenuItemSelected {
	background-color: #3559ac;
	color:#fff;
}
.cloud .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}
.cloud .dijitMenuExpand {
	
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0;
}
.dj_ie6 .cloud .dijitMenuExpand {
	background-image: url('images/spriteArrows.gif');
}
.cloud .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}
.cloud .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}
.cloud .dijitCheckedMenuItemIconChar {
	display: none;
}
.cloud .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.png');
	background-position: -80px;
}
.dj_ie6 .cloud .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.gif');
}
.cloud .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}