.header {
	margin-left: 80%;
	margin-top: 10px;
}

.ng-invalid input {
	border-color: red;
}

.row {
	margin-top: 10px;
}

.panel-tree {
	padding-left: 15px;
}

.panel-tree .angular-ui-tree-nodes li > a {
	margin-left: -18px;
}

.tree-table {
	width: 100%;
	table-layout: fixed;	
}

.tree-table td {
	vertical-align: top;
}
