.header {
	margin-left: 80%;
	margin-top: 10px;
}

.ng-invalid input {
	border-color: red;
}

.row {
	margin-top: 10px;
}

.panel-tree {
	padding-left: 15px;
}

.panel-tree .angular-ui-tree-nodes li>a {
	margin-left: -18px;
	display: inline-block;
}

.tree-table {
	width: 100%;
	table-layout: fixed;
}

.tree-table td {
	vertical-align: top;
}

.panel-heading {
	height: 40px;
	cursor: pointer;
}

.panel-heading:before {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: left;
	color: grey;
	margin-right: 10px;
	vertical-align: center;
}

.panel-heading.collapsed:before {
	content: "\e080";
}