<h4>Item Details</h4>
<div class="row">
	<div class="span8">
		<form class="form-horizontal" accept-charset="utf-8">
			<div class="control-group">
				<label for="zip" class="control-label">Item number:</label>
				<div class="controls">
					<input name="itemNumber" type="text" id="itemNumber" ng-model="model.itemNum">
				</div>
			</div>
			<div class="control-group">
				<label for="zip" class="control-label">Item Description:</label>
				<div class="controls">
					<input name="itemDescription" type="text" id="itemDescription" ng-model="model.itemRecord.description">
				</div>
			</div>
			<div class="control-group">
				<label for="zip" class="control-label">Wight:</label>
				<div class="controls">
					<input name="itemWeight" type="text" id="itemWeight" ng-model="model.itemRecord.weight">
				</div>
			</div>
			<div class="btn-toolbar">
				<button data-ng-click="save()" class="btn btn-small btn-primary">Save</button>
			</div>
		</form>
	</div>
</div>