div .black{
	color:black;	
}
div .blue{
	color:blue;
}
div .green{
	color:green;
}
div .aqua{
	color: aqua;
}
div .red{
	color:red;
}
div .purple{
	color: purple;	
}

div .brown{
	color:brown;
}
div .white{
	color: white;
}
div .gray{
	color: gray;
}

div .light_blue{
	color: lightblue;
}
,
div .light_green{
	color:lightgreen;
}
div .light_aqua{
	color:aqua;
}
div .light_red{
	color: red;
}
div .pink{
	color: pink;
}
div .yellow{
	color:yellow;
}
div .light_white{
	color: white;
}



.back_black{
	background-color:black;	
}
.back_blue{
	background-color:blue;
}
.back_green{
	background-color:green;
}
.back_aqua{
	background-color: aqua;
}
.back_red{
	background-color:red;
}
.back_purple{
	background-color: purple;	
}

.back_brown{
	background-color:brown;
}
.back_white{
	background-color: white;
}
.back_gray{
	background-color: gray;
}

.back_light_blue{
	background-color: lightblue;
}
,
.back_light_green{
	background-color:lightgreen;
}
.back_light_aqua{
	background-color:aqua;
}
.back_light_red{
	background-color: red;
}
.back_pink{
	background-color: pink;
}
.back_yellow{
	background-color:yellow;
}
.back_light_white{
	background-color: white;
}

.MessageField {
	color:red; 
}