.red .main{
	position:relative;
	min-height: 460px;
}

.actions_container{
	height: 500px;
}

.red .container table tr td{
	padding-top:0px;
	padding-bottom: 0px; 
}
.red .container input, .red .container select{
	padding: 1px;
}
#treeNode{
	height: 200px;
}
