.cloud .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .cloud .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}
.cloud .dijitCheckBox,
.cloud .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}
.dj_ie6 .cloud .dijitCheckBox,
.dj_ie6 .cloud .dijitCheckBoxIcon			{
	background-image: url('../images/checkmark.gif'); 
}
.cloud .dijitCheckBox,
.cloud .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.cloud .dijitCheckBoxChecked,
.cloud .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0;
}
.cloud .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.cloud .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.cloud .dijitCheckBoxHover {
	
	background-position: -80px;
}
.cloud .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
